.prime__table th,
.prime__table td {
  font-size: 0.75rem;
  text-transform: uppercase;
}
.prime__table span {
  font-size: 0.85rem;
}
.table__action__btn,
.table__print__btn,
.view__action__btn {
  padding: 0.48rem;
  border-radius: 50%;
  color: #ececec;
  border: 0;
}

.search__form {
  width: 100%;
  margin-bottom: 0.98rem;
  font-size: 0.85rem;
  text-transform: uppercase;
}

.view__action__btn {
  background-color: #282b2b;
}

.view__action__btn:hover {
  background-color: #3a3f3f;
}

.table__action__btn {
  background-color: #b31650;
}

.table__action__btn span,
.table__print__btn span,
.verified_badge span,
.view__action__btn span {
  display: block;
}

.table__action__btn:disabled {
  background-color: #5b5b5b;
}

.stat_badge {
  display: block;
  padding: 0.23rem;
  width: 11px;
  height: 11px;
  border-radius: 50%;
}

.stat_warning {
  background-color: #f59f36;
}

.stat_secondary {
  background-color: #d7245a;
}

.stat_primary {
  background-color: #34cd48;
}

.stat_danger {
  background-color: #d21717;
}

.stat_info {
  background-color: #34becd;
}

.download__bttn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #208f2e;
  color: white;
  gap: 0.38rem;
  padding: 0.18rem 1.28rem;
  border-radius: 1.9rem;
  font-size: 0.78rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1.48rem;
  text-decoration: none;
}

.download__bttn p {
  margin: 0;
}

.download__bttn span {
  display: block;
}

.download__bttn:hover {
  background-color: #2bac3c;
  color: white;
}

.download__bttn .disabled {
  background-color: #5b5b5b;
  color: white;
}
