.sm-card-report {
  padding: 15px 20px;
  background-color: rgb(41, 81, 48);
  border-radius: 11px;
}

.sm-card-report h4 {
  color: bisque;
  font-size: 13px;
  text-transform: uppercase;
}

.sm-card-report p {
  font-size: 17px;
  margin-bottom: 0;
  color: #fff;
}

.approved-section {
  background-color: black;
  padding: 20px;
  color: #fff;
}

.approved-section h5 {
  text-transform: uppercase;
  margin-bottom: 0;
  color: bisque;
  font-size: 13px;
}

.approved-section p {
  font-size: 22px;
  margin-bottom: 0;
}
